// Blog

#mini-me {
  width: 50px;
  border-radius: 50%;
  margin: 1em auto;
  display: block;
}

// About me
.portfolio-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin: 1.5em 0 1em;

  // @include media-query($on-laptop) {
  //     font-size: 36px;
  // }
}

.about-me {
  text-align: left;
  overflow: auto;
  padding: 1em;

  #selfie {
    width: 20%;
    border-radius: 50%;
    float: right;
    display: block;
    border: 2px dashed $brand-color;
  }

  .introduction {
    width: 75%;
    float: left;
  }
}

@include media-query($on-palm) {
  .about-me {
    text-align: center;

    #selfie {
      width: 50%;
      margin: 1em auto 0;
      float: none;
    }

    .introduction {
      float: none;
      width: auto;
    }
  }
}

.portfolio {
  overflow: auto;
  margin-bottom: 2em;

  .left-column {
    width: 35%;
    float: left;
    text-align: center;
  }

  .right-column {
    border-left: 1px solid $grey-color-light;
    width: 60%;
    float: right;
    text-align: left;
    padding-left: 2em;
  }

  .details {
    border-top: 1px dotted $grey-color;
    font-size: 12px;
  }
}

@include media-query($on-palm) {
  .portfolio {
    margin-bottom: 4em;

    .left-column {
      width: auto;
      float: none;
    }

    .right-column {
      border: none;
      width: auto;
      float: none;
    }
  }
}

#company-info {
  border-top: 1px solid #eee;
  margin-top: 100px;
  padding-top: 2em;
  font-size: 12px;
  line-height: 1.5em;
  font-family: $sans-font-family;
  color: #ccc;
}

.social {
  img {
    height: 2.5rem;
    opacity: 0.8;
    padding: 0.5rem;
  }
}
