---
layout: default
---
<div class="post-page">

  <header class="post-page__header">
    <div class="post-page__metal">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • <a href="/about">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </div>
    <h1 class="post-page__title">{{ page.title }}</h1>
  </header>

  <article class="post-page__content">
    {{ content }}
  </article>
</div>
{% if  page.previous %}
  <div class="next-post">
    Next post
    <a class="next-post__link" href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
  </div>
{% endif %}
